/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles for html and body */
html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  /* Set a default font family */
  line-height: 1.5;
  /* Improve readability */
  background-color: white;
  /* Set a background color */
  color: #333;
  /* Default text color */
  margin: 0;
  /* Ensure no default body margin */
}

/* Make #root and app container full height */
#root,
.App {
  min-height: 100vh;
}